
Wes Anderson{


fill:#433446;
fill:#a8d8c9;
fill:#d26a54;
fill:#e9c964;
fill:#b9b0a0;
}

Mid-century modern{
fill:#193639;
fill:#819d8b;
fill:#e0d9a8;
fill:#d7b863;
fill:#cf7155;
;
fill:#df5340;
fill:#d43b64;
fill:#e84891;
fill:#8e37aa;
fill:#6041b1;
fill:#4253af;
fill:#4b96ec;
fill:#4fa8ee;
fill:#58b9d1;
fill:#459388;
fill:#6aab5b;
fill:#98c05b;
fill:#d0da58;
fill:#fbea5f;
fill:#f5c242;
fill:#ef9c37;
fill:#73564a;
;
fill:#636556;
fill:#9CACA8;
fill:#DCDDD8;
fill:#C39A55;
fill:#F5D447;
};