.Observed{
    fill:#001D73;
    stroke:#fff;
    stroke-width: 1.5px;
}
.transmission-node{
    fill:#001D73;
    stroke:#fff;
    stroke-width: 1.5px;
}
.Inferred{
    stroke:#001D73;
    stroke-width: 3px;
    fill: #fff
}