
:root {
    --dark-background: #213539;
    --dark-foreground: #fffcf2;
    --artic-red: #cf7155;
    --artic-green: #819d8b;
    --header: #345358;
    --light-text: #dfd9ad;
}

/* ------------ FONTS --------------------- */
@font-face {
    font-family: 'regular';
    src: local('LatoLatin-Regular'), url(./LatoLatin-Regular.woff) format('woff');
}

@font-face {
    font-family: 'light';
    src: local('LatoLatin-Light'), url(./LatoLatin-Light.woff) format('woff');
}

@font-face {
    font-family: 'hairline';
    src: local('LatoLatin-Hairline'), url(./LatoLatin-Hairline.woff) format('woff');
}

/* ----------- GLOBALS (BODY) --------------*/
body {
    height: 95vh;
    font-family: hairline, sans-serif;
    background: var(--dark-background);
    color: var(--dark-foreground);
    overflow: hidden;
}


#root{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
}
/* box sizing on all elements so padding and broders are included in width and height */
* {
    box-sizing: border-box;
}


/* -------------------- HEADER --------------------- */
div.header {
    width: 100%;
    margin:auto;
    background-color: var(--header);
    color: var(--light-text);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:55px;
    /* height:165px; */
    margin-bottom: 10px;
}
div.header .logo {
    float: left;
    margin: 5px;
}
div.header .title {
    float: left;
    margin-left: 20px;
    padding:0px;
    font-size: 12px;
}
div.header .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: auto;
    padding: 20px 10px 20px 0;
}
/*-----------------Main screen --------------------------*/
.fillHorizontalSpace{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    flex-grow:1;
    display: flex;
    flex-direction: column;
}
.mainScreen{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    flex-grow:1;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

/* --------------- SIDEBARS --------------- */
.sidebar{
    height: 100%;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--light-text);
    transition: margin .4s;
    background-color:var(--dark-foreground);
    flex: 1 1 auto;
    color:var(--dark-background);
    overflow-y:scroll

}
.sidebar.left{
    position: relative;
    margin-left:-210px;
    flex: 0 0 200px;
    border-right: 10px solid var(--artic-green);
}
.sidebar.left.open{
    margin:0px;
}
.sidebar.right.open{
    margin-right:0px;
}
.sidebar.right{
    position: relative;
    flex:0 0 500px;
    margin-right:-510px;
    margin-left:0px;
    border-left: 10px solid var(--artic-green);
}
.sidebarButtonColumn{
    display:flex;
    flex-flow: column nowrap;
    margin-right:-1px;
    text-align:center;
}
.sidebarButtons{
    display: inline-block;
    padding: 28px 0 0 0
}
.sidebarButtons .button {
    width: 40px;
    height: 120px;
    cursor: pointer;
    background-color:var(--header);
    color:var(--light-text);
    border: 1px solid var(--light-text);
    border-radius:5px;
    white-space: nowrap;
    z-index: -10;
    /* flex-grow: 0 , 0, 50px; */
}

.sidebarButtons .button.selected {
    background-color:var(--artic-green);
    z-index: 10;
}

.sidebarButtons.right .button{
    margin: 1px -10px 0px 10px;
    padding-right: 10px;
    /*transform: translate(30px) rotate(-90deg);*/

}
.sidebarButtons.left .button{
    margin: 0px 10px 0px -10px;
    padding-left: 10px;
    /*transform: translate(-40px) rotate(90deg);*/

}

.button-icon {
    /*border: 1px solid #a90000;*/
    margin: 10px 0px 0px 0px;
}

.button-text {
    /*border: 1px solid #a90000;*/
    margin: 0px 0px 0px 0px;
}

.rotate-minus-ninety {
    transform: translate(0px,40px) rotate(-90deg);
}

.rotate-plus-ninety {
    transform: translate(0px,10px) rotate(90deg);
}

/* --------------- TABLES --------------- */
.ReactTable .rt-table {
    font-family: light, sans-serif;
    font-size: 10pt;
    padding: 4px;
}

.ReactTable .rt-thead {
    overflow-y: scroll;
}

.ReactTable .rt-th {
    font-family: light, sans-serif;
    font-size: 9pt;
    padding: 4px;
}

.ReactTable .rt-td {
    font-family: light, sans-serif;
    font-size: 9pt;
    padding: 4px;
}


.ReactTable H4 {
    margin-block-end: 0;
}

/*---------------------Time line container ----------*/
.timelineContainer{
    height: 100%;
    width: 100%;
    z-index: 1;
    margin: 30px 0 30px 0px;
    padding:0px 0px 0px 0px;
    flex-grow:1;
    overflow-y: scroll;
    flex-direction: column;
    /*box-sizing: border-box;*/
    /*border-style: solid;*/
    /*border-color: var(--light-text);*/
    /*border-width: 0px 1px 0px 1px;*/
    /* border-radius: 5px; */
}

.chartContainer {
    margin:5px 5px 5px 5px;
    border-style: solid;
    border-color: var(--artic-green);
    border-width: 0px 0px 1px 24px;
    border-radius: 5pt;
    background: none/* var(--dark-background);*/
}

.mockChartContainer{
    z-index: -1;
    margin: 0px 5px 0px 5px;
    position: fixed;
    padding: 0px 5px 0px 24px;
    transform: translateY(-35px);
}

/* ---------------  C H A R T S ----------------- */
.chartTitle {
    font-family: light;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: -25px;
    color: var(--dark-foreground);
    transform-origin: top left;
    transform: translate(-25px) rotate(-90deg);
    padding: 0px 0px 0px 14px;
    /*border: 1px solid #a90000;*/
}

.hoverInfo {
    z-index: 20;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    /* background-color: hsla(0,0%,0%,.8); */
    background-color: var(--artic-red);
    color: var(--light-text);
    pointer-events: none;
    visibility: hidden;
    font-size: 14px;
    font-weight: 700;
    overflow-wrap: break-word;
}

.chartExpandContractIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transform: scale(1.3);
}

#timeline {
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
    /*bottom: 0;*/
    opacity: 0;
    visibility: hidden;
}

#timebrush {
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    fill: rgba(255, 255, 255, 0.25);
    height: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    opacity: 0;
    visibility: hidden;
}

/* ---------------  G E O G R A P H Y ----------------- */
.geographyContainer {
    padding: 10px;
    overflow: hidden;
}
.map-background {
    fill: var(--dark-foreground);
}
.adm0 {
    fill: var(--artic-green);
    stroke: var(--dark-foreground);
}
.adm1 {
    fill: var(--artic-green);
    stroke: var(--dark-foreground);
}

/*------------------ axis boxes ------------------------*/
.axis-box.even{
    fill: var(--dark-foreground);
    opacity: 0.04
}

.axis-box.odd{
    fill:none
}

.fishArea{
    stroke-width: 1px;
    stroke: var(--dark-foreground);
}

.fishArea.not-hovered{
    opacity: 0.1;
}
.fishArea.hovered{
    stroke-width: 2px;
}
.rect{
    stroke-width: 1px;
    stroke: var(--dark-foreground);
}
.hidden{
    opacity: 0;
}

/*--------------------- Fig Tree --------------------*/

.branch {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

}


.branch .branch-path.hovered.selected {
    stroke-width:5;
    opacity:1
}
.branch .branch-path.hovered {
    stroke-width:4;
    opacity:1
}

.node-shape{
    stroke: none;
}

.node-label {
    font-family: light, sans-serif;
    font-size: 8pt;
    font-weight: 300;
    fill: var(--dark-foreground); /* not color as it's SVG */
}

.trend-line {
    stroke: rgb(0,0,0);
    stroke-width: 2;
    stroke-linecap: round;
}

.axis text {
    font-family: hairline, sans-serif;
    font-size: 8pt;
    font-weight: 300;
}

.axis-label text {
    font-family: hairline, sans-serif;
    font-size: 8pt;
    font-weight: bold;
}

.node-label.support {
    font-size: 10pt;
}

.branch-label.length {
    display: none;
    font-size: 8pt;
}
.branch .branch-path.selected {
    stroke-width:6
}
.branch .branch-path.hovered.selected {
    stroke-width:7
}


/* --------------------- D3 --------------------- */
.axis text,
text.axis {
    font-family: "light";
    font-size: 14px;
    fill: var(--dark-foreground); /* not color as it's SVG */
}
.legend > text {
    fill: var(--dark-foreground); /* not color as it's SVG */
}

.axis path,
.axis line {
    fill: none;
    stroke: var(--dark-foreground);
    stroke-width: 1;
    shape-rendering: auto;
}
  /*--------- legend ---------*/
  .legendSquare {
    height: 10px;
    width: 10px;
  }