
:root {
    --dark-background: #02292e;
    --dark-foreground: #fffcf2;
    --artic-red: #e06962;
    --header: #255a66;
    --light-text: #F6EECA;
  }
  
  /* ------------ FONTS --------------------- */
@font-face {
    font-family: 'Lato';
    src: local('LatoLatin-Light'), url(./LatoLatin-Light.woff) format('woff');
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Lato';
    src: local('LatoLatin-Hairline'), url(./LatoLatin-Hairline.woff) format('woff');
    font-weight: normal;
  }
  /* ----------- GLOBALS (BODY) --------------*/
body {
    height: 95vh;
    font-family: "Lato";
    background: var(--dark-background);
    color: var(--dark-foreground);
    overflow: hidden;
  }
  .fillHorizontalSpace{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    flex-grow:1;
    display: flex;
    flex-direction: column;
  }

  #root{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: column;
  }
   /* box sizing on all elements so padding and broders are included in width and height */
  * {
    box-sizing: border-box;
  }

  /* --------------- SIDEBARS --------------- */
div.sidebar {
    position: absolute;
    max-width: 85%;
    overflow-x: scroll;
    height: 95%;
    color: #fffcf2;
    background-color: var(--dark-background);
    padding: 10px;
    border: 3px solid var(--artic-red);
    border-radius: 10px;
    transition: 0.5s ease-out;
    -webkit-transition: 0.5s ease-out;
  }
  div.sidebar.closed {
    right: -500px;
  }
  div.sidebar.open {
    right: 5px;
  }
  .sidebar input.hidden {
    display: none;
  }
  .sidebar .inner {
    height: 100%;
    overflow: scroll;
  }
  .sidebar .topRight {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  /* -------------------- HEADER --------------------- */
div.header {
    width: 100%;
    margin:auto;
    background-color: var(--header);
    color: var(--light-text);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height:200px;
  }
  div.header .logo {
    float: left;
    margin: 10px;
    padding:10px
  }
  div.header .title {
    float: left;
    margin: 10px;
    padding:10px;
    font-size: "1.8em"
  }
  div.header .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 10px 20px 0;
  }

  /* ----------------- MODERN BUTTONS --------------------- */
button.modernButton {
    display: block;
    background: var(--artic-red);
    color: var(--dark-foreground);
    border: 1px solid var(--dark-foreground);
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 5px;
    margin: 5px;
  }
  button.modernButton:hover {
    border: 1px solid var(--dark-foreground);
    background: var(--dark-foreground);
    color: var(--artic-red);
  }
  button.modernButton > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button.modernButton > div > svg {
    transform: scale(1.4);
    padding: 0px 5px 0px 5px;
  }
  button.modernButton > div > span {
    padding-right: 5px;
  }

  /* -------------------   UNKNOWN --------------------- */

/* config stuff */
div.sidebar {
    position: absolute;
    right: 0px;
  }

  /* ---------------  C H A R T S ----------------- */

.chartContainer {
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;

    position: relative;
    padding:1%;
    border-style: solid;
    border-color: var(--header);
    border-width: 0px 24px 0px 24px;
    border-radius: 5pt;
    background: var(--dark-background);
  }
  .chartContainer#child {
    margin: auto;
    margin-bottom: 0
  }
  .chartTitle {
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;
    color: var(--light-text);
    padding-right: 25px; /* to stop icon overlap */
  }
  .hoverInfo {
    z-index: 20;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    /* background-color: hsla(0,0%,0%,.8); */
    background-color: var(--artic-red);
    color: var(--light-text);
    pointer-events: none;
    visibility: hidden;
    font-size: 14px;
    font-weight: 700;
    overflow-wrap: break-word;
  }
  .chartExpandContractIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transform: scale(1.3);
  }
  /*--------------------- Fig Tree --------------------*/

  .branch {
    fill: none;
    stroke: #b9b0a0;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.branch .branch-path.hovered {
    stroke-width: 4;
}

.node-background {
    fill: #b9b0a0;
}

.node-background {
  fill: #b9b0a0;
}

/*
#433446
#a8d8c9
#d26a54
#e9c964
#b9b0a0
 */
.external-node .node-shape.hovered {
    fill: #e9c964;
}
.external-node .node-shape {
    fill: #d26a54;
}
.internal-node .node-shape {
    fill: #a8d8c9;
}

/* #root .node-shape {
    fill: #e31e58;
    stroke: rgb(255, 255, 255);
    stroke-width: 1;
} */

.node-label {
    font-family: "helvetica-neue",  "helvetica",  "sans-serif";
    font-size: 8pt;
    font-weight: 300;
}

.trend-line {
    stroke: rgb(0,0,0);
    stroke-width: 2;
    stroke-linecap: round;
}

.axis text {
    font-family: "helvetica-neue",  "helvetica",  "sans-serif";
    font-size: 8pt;
    font-weight: 300;
}

.axis-label text {
    font-family: "helvetica-neue",  "helvetica",  "sans-serif";
    font-size: 8pt;
    font-weight: bold;
}

.node-label.support {
    font-size: 10pt;
}

.branch-label.length {
    display: none;
    font-size: 8pt;
}
  /*---------------------Other charts line container ----------*/
.rect{
  fill: #d26a54;
}
.rect.hovered{
  fill: #e9c964;
}

  /* ------- Hard coded areas ------------------------------*/  
  .area-layer .location-Location_A{
    fill:#433446
  }
  .area-layer .location-Location_B{
    fill:#a8d8c9
  }
  .area-layer .location-Location_C{
    fill:#d26a54
  }
  /*---------------------Time line container ----------*/
  .timelineContainer{
    height: 95%;
    width: 95%;

    margin: auto;
    margin-top: 0px;
    border-style: solid;
    border-color: #F6EECA;
    border-width: 0px 1px 0px 1px;
    border-radius: 5px;
    padding:0px 10px 10px 10px;
    flex-grow:1;
    overflow-y: scroll;
    box-sizing: border-box;
  }
  .fixedAxis{
    /* position: absolute; */
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  /* --------------------- D3 --------------------- */
  .axis text,
  text.axis {
    fill: var(--light-text); /* not color as it's SVG */
    font-size: '12px';
  }
  .legend > text {
    fill: var(--light-text); /* not color as it's SVG */
  }
  rect.amplicon,
  rect.gene {
    stroke: none;
    fill: var(--light-text);
  }
  rect.gene + text {
    fill: var(--dark-background);
  }
  .axis path,
  .axis line {
    fill: none;
    stroke: var(--light-text);
    stroke-width: 1;
    shape-rendering: auto;
  }
  