  /*---------------------Other charts line container ----------*/
/* .rect{
  fill: #d26a54;
} */
.branch{
  stroke: #b9b0a0;
}
.rect.hovered{
  fill: #e9c964;
}
 /* ------- Hard coded locations ------------------------------*/  
  
 .location-Location-A{
  fill:#086375;
  stroke:#086375;
}
.location-Location-B{
  fill:#DB504A;
  stroke:#DB504A;
}
.location-Location-C{
  fill:#E3B505;
  stroke:#E3B505;
}

.node-background {
  fill: #b9b0a0;
}

.node-shape.hovered {
  fill: #e9c964;
}